:root{
  --bright-pink: #ffeaef;
  --bright-pink2: #ffd2dd;
  --pink: #ff597d;
  --text: #04052a;
  --pagination: #676770;
  --green: rgb(13, 150, 13);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro{
  margin-top: 5rem;
}
.App{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.bag{
  margin-left: 2rem;
  margin-bottom: 2rem;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.2); 
  width: 12rem;
  height: 22rem;
  border-radius: 5px;
  overflow: hidden;
}
.cart{
  height: 2rem;
}
.logo{
  height: 3rem;
}
.red {
  text-decoration: line-through;
  color: red;
  margin-left: 10px;
}
.green{
  color: green;
  margin-right: 25px;
}
.btnn{
  background-color: rgb(243, 9, 138);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 9rem;
  margin-left: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}
.btnn:hover {
  color: black;
}
.bag-image{
  height: 11rem;
  width: 12rem;
  border-radius: 5px 5px 0px 0px;
  transition: transform 0.5s ease
}
.bag-image:hover{
  cursor: pointer;
  transform: scale(1.1); 
}
.center{
  text-align: center;
}
.price{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: -1rem;
}
.d-price{
  margin-left: 10px;
  font-weight: bold;
  margin-top: -0.5rem;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
}
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.btnlogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--pink);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--pink);
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;

}
.navigation .btnlogin:hover {
  background: var(--pink);
  color: white
}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
}
.nav{
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
  box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.2); 
  background: linear-gradient(to right, var(--pink) 40%, white 60%);
}
.Rapp{
  color: black;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 15px;
}
.b-container{
  margin-top: rem;
}