:root {
  --bright-pink: #ffeaef;
  --bright-pink2: #ffd2dd;
  --brigtest: #f14369;
  --pink: #ff597d;
  --text: #04052a;
  --pagination: #676770;
  --green: rgb(13, 150, 13);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c_b{
  color: black;
}
.intro {
  margin-top: 5rem;
}
.App {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: -12px;
}

.bag {
  margin-left: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 12rem;
  height: 22rem;
  border-radius: 5px;
  overflow: hidden;
}
.cart {
  height: 2rem;
  margin-top: 0.6rem;
}
.logo {
  height: 3.2rem;
}
.red {
  text-decoration: line-through;
  color: red;
  margin-left: 10px;
}
.green {
  color: green;
  margin-right: 25px;
}
.btnn {
  background-color: var(--pink);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 9rem;
  margin-left: 1.5rem;
  cursor: pointer;
  transition: 1s;
}
.btnn:hover {
  background-color: var(--green);
}
.bag-image {
  height: 11rem;
  width: 12rem;
  border-radius: 5px 5px 0px 0px;
  transition: transform 0.5s ease;
}
.bag-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.center {
  text-align: center;
}
.price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: -1rem;
}
.d-price {
  margin-left: 10px;
  font-weight: bold;
  margin-top: -0.5rem;
}
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 3px;
}
.navigation-p a {
  position: relative;
  font-size: 1.1em;
  color: var(--brigtest);
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
}
.navigation-p .nav-link.active {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation-p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation-p a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.btnlogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--pink);
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: var(--pink);
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;
}
.navigation .btnlogin:hover {
  background: var(--pink);
  color: white;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.fix{
  top: 0;
  width: 100%;
}
.nav-b {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
  box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, var(--pink) 60%, white 80%);
}
.nav-p {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  margin-left: 30rem;
  z-index: 1000;
  color: var(--brigtest);
  width: 30rem;
}
.half-bg {
  background: linear-gradient(to right, var(--pink) 60%, white 80%);
  margin-top: -3rem;
}
.Rapp {
  color: black;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 15px;
}

.vcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.v-flex {
  width: 21.5rem;
}
.v-bg {
  background-color: var(--bright-pink2);
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1rem;
}
.small {
  height: 5.5rem;
  width: 3.5rem;
  border-radius: 5px 0px 0px 5px;
}
.madam {
  height: 33rem;
  margin-top: -6rem;
}
.welcome {
  padding: 9rem;
  text-align: center;
}
.align {
  text-align: left;
}
.link {
  text-decoration: none;
}
.link-btn {
  border: none;
  color: rgb(225, 0, 255);
  background-color: var(--bright-pink2);
}
.pink-h1 {
  color: var(--brigtest);
  font-size: 3.5rem;
}
.white {
  color: rgb(109, 98, 98);
}
.cont-disc {
  background-color: var(--bright-pink2);
  gap: 15rem;
  margin-top: -7rem;
}
.disc {
  width: 35rem;
}
.disc-img{
  height: 20rem;
}
.shop-btn {
  border: none;
  border-radius: 18px;
  background-color: var(--brigtest);
  color: white;
  padding: 7px;
}
.thumbs{
  border: 2px solid var(--brigtest);
  border-radius: 15px;
  height: 18rem;
}
.p-view{
  margin-top: 5rem;
}
.p-images{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.p_w{
  width: 30rem;
}
.p_g{
  gap: 6rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.h{
  margin-left: 4rem;
  font-family: serif;
  color: black;
  font-weight: bold;
}
.h_pink{
  color: var(--brigtest);
}
.bold{
  font-weight:500;
}
.bold1{
  font-weight: bold;
}
.f_1{
  font-size: 1.5rem;
}
.w_l{
  margin-left: 5rem;
  margin-right: 5rem;
}
/*
.b-container{
  background: linear-gradient(to right, var(--pink) 40%, white 60%);
}
*/
.cart-count {
  height: 5px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 1.5rem;
}
.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #6e161f;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0.9;
  font-weight: bold;
}
.login {
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 5px 5px;
  padding: 30px 100px 30px;
  font-size: smaller;
  color: white;
  font-family: sans-serif;
  background: linear-gradient(to right, var(--brigtest) 80%, white 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.txt {
  width: 17.7rem;
  border-radius: 15px;
  border: 1px solid rgba(236, 235, 235, 0.2);
  height: 2rem;
  padding-left: 1rem;
  background: none;
  color: rgb(249, 251, 253);
}
.log {
  border-radius: 15px;
  color: black;
  background-color: aliceblue;
  height: 2rem;
  width: 17.7rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  border: none;
}
.log:hover {
  transition: 2s ease;
  color: aliceblue;
  background: transparent;
  cursor: pointer;
}
::placeholder {
  color: wheat;
}
.forget {
  display: flex;
}
.rem,
.pass {
  margin-top: 7px;
}
.pass {
  margin-left: 3rem;
}
.pass,
.reg {
  color: rgb(47, 47, 146);
}
.title {
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background: linear-gradient(to right, var(--brigtest) 80%, white 100%);
  display: flex;
  gap: 2.5rem;
}
.title h1 {
  color: black;
}
.title img {
  border-radius: 5px;
}
.modal {
  border-radius: 10px;
}
.Remember {
  margin-bottom: 12px;
}
.icon {
  height: 1.5rem;
  margin-top: 6px;
}
.flex {
  display: flex;
}
.space {
  margin-left: 1.5rem;
}
.mg {
  margin-left: 2rem;
}
.login {
  height: 17rem;
}
.register {
  color: rgb(47, 47, 146);
  border: none;
  background-color: var(--brigtest);
  text-decoration: underline;
}
.join {
  text-align: center;
  color: black;
  margin-top: -2rem;
}
.t-img{
  border: none;
  border-radius: 5px;
  height: 27rem; 
}
.t-images{
  display: flex; 
  gap: 0.5rem;
}
.t-info{
 width: 30rem;
}
.trending{
  gap: 3rem;
}
.trans{
  transition: transform 0.5s ease;
}
.trans:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.over{
  overflow: hidden;
}
.social{
  margin-top: 1px;
  padding-top: 4rem;
  height: 12rem;
  width: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: serif;
  font-weight: bold;
  gap: 10.5rem;
  background-color: var(--text);
  color: white;
}
.s-icon{
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
}
.f-more{
  background-color: black;
  color: white;
  padding: 1rem;
}
.f_c{
  margin-left: 30rem;
  margin-right: 30rem;
}
.f-btn{
  margin-left:  37rem;
  margin-top: 1rem;
}
.f-moremore{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 3rem;
}
/* .the-botique{
  align-items: center;
  justify-content: center;
} */
.f-small{
  height: 1rem;
  border-radius: 5px;
}
.dir{
  flex-direction: column;
}
.mg1{
 margin-top: 1rem;
}
.mg3{
  margin-right: 7px;
}
.f-media{
  color: white;
  text-decoration: none;
}
.f-media:hover{
  color: var(--bright-pink2);
  cursor: pointer;
}
.copyright{
  padding: 1rem;
}
.c_w{
  color: white;
}
.c_g{
  color: #676770;
}
.blog {
  max-width: 800px;
  margin: 0 auto;
}

.blog h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-post {
  background-color: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
  margin-top: 0;
}

.blog-post .date {
  color: #999;
  font-size: 0.9rem;
}
.back{
  background-color: var(--bright-pink2);
}
.blogW{
  padding: 3.9rem;
}
.full{
  background: linear-gradient(to right, var(--pink) 60%, white 80%);
}
.b-rad{
  border-radius: 50%;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  margin-top: 0.5rem;
}

.search-bar input {
  flex: 1;
  padding: 0.5rem;
  border: 2px solid #4d4b4b;
  border-radius: 10px;
  outline: none;
}
.search-bar ::placeholder{
  color: var(--brigtest);
}

.search-bar button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: var(--brigtest);
}
.cart-container{
  background-color: white;
  color: black;
}
.cart-info{
  width: 20rem;
}